[user]
	email = spencer.scott@aura.com
	name = Spencer Scott
[alias]
	mybranches = for-each-ref --format='%(refname:short)' refs/heads --sort=-committerdate
	cleanup = !bash ~/scripts/git-cleanup.sh
[fetch]
	prune = true
